h1 {
  background-color: blue;
  color: red;
}

body{
	background: white;
}

.container{
	position: center;
}

input{
	background-color:#4CAF50;
	color:black;
	padding: 15px 32px;
	text-align: center;
	font-size:16px;
	border-color: lightblue;
	text-align: center

}

button{
  padding-left: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}



